.benefits {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
  }
  
  .benefits h2 {
    font-size: 2rem;
    color: #6A00B8;
    margin-bottom: 30px;
  }
  
  .benefit {
    display: inline-block;
    width: 200px;
    margin: 20px;
    color: #444;
  }
  
  .benefit i {
    font-size: 2rem;
    color: #16EA9E;
    margin-bottom: 10px;
  }
  
  .benefit p {
    font-size: 1rem;
  }
  