.footer {
    background-color: #6A00B8;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer a {
    color: #16EA9E;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  